.product-section {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: auto;
     text-align: center;
     margin-top: 166px;
     justify-content: center;
     width: 90%;
     margin-bottom: 50px;
     margin-left: 30%;
}

.cart-counter {
     /* border: 1px solid; */
     padding: 5px 10px;
     margin: 0 10px;
     font-weight: bold;
     font-size: 21px;
}